body {
  background-color: #112037;
  background-image: url("imagen.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  list-style: none;
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80);
  -khtml-opacity: 0.8;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.formulario fieldset {
  border-color: transparent;
  text-align: center;
  font-weight: bolder;
  color: #fff;
  font-size: x-large;
  background-color: transparent;
}

.formulario label {
  text-align: center;
  display: inline-block;
  color: #22f2f2;
  font-weight: bolder;
  font-size: large;
  background-color: #0b5159;
}

.formulario input {
  display: block;
  margin: auto;
  margin-top: 5%;
  padding: 5%;
  align-self: center;
  border-radius: 5px;
  text-align: center;
}

.formulario input[type="submit"] {
  padding: 8px 16px;
  margin-top: 32px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  background-color: #0b5159;
  display: block;
}

.formulario input[type="submit"]:hover {
  cursor: pointer;
}

.tabla {
  background-color: #bfbfbf;
  display: table;
  margin-top: 10%;
  color: #071b8c;
}
.tabla th {
  background-color: #404040;
  color: #bfbfbf;
}
.tabla td {
  text-align: center;
}
